# Ignore paths from OS X
.DS_Store
build-area
GPATH
GRTAGS
GSYMS
GTAGS

# Development
.idea

# Composer
vendor

# Bin
bin/drush
bin/drush.complete.sh
bin/drush.launcher
bin/drush.php
bin/php-parse
bin/psysh
bin/robo
