#! /bin/sh

set -e

# Source debconf library.
. /usr/share/debconf/confmodule

if su aegir -c 'drush @hostmaster status' | grep -q 'Drupal bootstrap.*Successful'; then
    # there's already an install, do not go around asking silly questions
    exit 0
fi

db_get aegir/email
if [ -z "$RET" ]; then
   db_set aegir/email "aegir@`hostname -f`"
fi
db_input medium aegir/site || true
if [ -z "$RET" ]; then
    db_set aegir/site `hostname -f`
fi
db_input low aegir/makefile || true
db_input low aegir/email || true
db_input low aegir/db_host || true
db_input low aegir/db_user || true
# if we got here, it means aegir is not installed and we forgot the
# root password, ask for it again
db_reset aegir/db_password || true
db_fset aegir/db_password "seen" "false" || true
db_input high aegir/db_password || true
db_go
