#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_install:
	dh_auto_install

	cp -r "$(CURDIR)/db/" "$(CURDIR)/http/" "$(CURDIR)/"*.make "$(CURDIR)/platform/" "$(CURDIR)/Provision/" "$(CURDIR)/composer.json" "$(CURDIR)/vendor/" "$(CURDIR)"/*.inc "$(CURDIR)"/*.php "$(CURDIR)"/*.info "$(CURDIR)/example.sudoers" "$(CURDIR)/debian/aegir3-provision/usr/share/drush/commands/provision/"

	# We need this nasty hack, because we added directories.
	# TODO: this is really lame, there must be a better way to do this?
	if [ -d "$(CURDIR)/provision-tests" ]; then cp -r "$(CURDIR)/provision-tests/" "$(CURDIR)/debian/aegir3-provision/usr/share/drush/commands/provision/"; fi
	if [ -d "$(CURDIR)/subdirs" ]; then cp -r "$(CURDIR)/subdirs/" "$(CURDIR)/debian/aegir3-provision/usr/share/drush/commands/provision/"; fi

	cp "$(CURDIR)/debian/aegir3-provision.lintian" "$(CURDIR)/debian/aegir3-provision/usr/share/lintian/overrides/aegir3-provision"

override_dh_installinit:
	dh_installinit --name=hosting-queued


